@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Scheherazade';
  src: url('/fonts/Scheherazade-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-arabic {
  font-family: 'Scheherazade', serif;
}

